@model IEnumerable<ProjetodeBloco.Models.Postagens>

@{
    ViewBag.Title = "Feed";
    Layout = "~/Views/Shared/LayoutDeEntrada.cshtml";
}

<h2>Feed</h2>

<p>
    @Html.ActionLink("Nova Postagem", "CriarPostagens", "Postagens")
</p>
<p>
    @Html.ActionLink("Ir para meu feed", "MeuFeed", "Postagens")
</p>

@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Conteudo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>*@
@using (Html.BeginForm("", "Postagens", FormMethod.Post,
new { enctype = "multpart/form-data", @class = "form form-data-escolha-imagem" }))
{
    <div id="conteudoFeed">

        @foreach (var item in Model)
        {
        <div class='Postagem'>
            <span><b>Postado por @item.Nome</b></span>
            <br />

            @Html.DisplayFor(model => item.Conteudo)
            <div class="Imagem">
                <img src="~/Imagens/@Html.DisplayFor(models => item.Midia)" alt="Sample Photo" width="250" height="250" />

            </div>
            <span><b>Data da publicação: @item.Data.Day/@item.Data.Month/@item.Data.Year</b></span>
            <div class='Curtida' title='Afinado'></div>
            <span><b>Número de curtidas : @item.NumCurtidas</b></span>
            <button class=" btn btn-primary btn-group-lg" type="button" onclick="location.href='@Url.Action("Curtida", "Curtida", new { postId = item.PostId })'">Curtir</button>

            <a href="@Url.Action("Comentar", "Comentarios", new { id = item.PostId })" class="btn btn-default btn-sm">
                Comentar
            </a>
            <a href="@Url.Action("ListaComentarios", "Comentarios", new { id = item.PostId })" class="btn btn-default btn-sm">
                Ver Comentarios
            </a>
            <a href="@Url.Action("CompartilharPost", "Postagens", new { PostId = item.PostId })" class="btn btn-default btn-sm">
                Compartilhar
            </a>
        </div>



        }
    </div>
}


@*</table>*@
