@model IEnumerable<ProjetodeBloco.Models.Postagens>

@{
    ViewBag.Title = "MeuFeed";
    Layout = "~/Views/Shared/LayoutDeEntrada.cshtml";
}

<h2>Meu Feed</h2>


<p>
    @Html.ActionLink("Nova Postagem", "CriarPostagens", "Postagens")
</p>
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Conteudo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UsuarioId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>*@
@using (Html.BeginForm("", "Postagens", FormMethod.Post,
new { enctype = "multpart/form-data", @class = "form form-data-escolha-imagem" }))
{
    <div id="conteudoFeed">

        @foreach (var item in Model)
        {
            <div class='Postagem'>
                <span><b>Postado por @item.Nome</b></span><br />

                @Html.DisplayFor(model => item.Conteudo)
                <div class="Imagem">
                    <img src="~/Imagens/@Html.DisplayFor(models => item.Midia)" alt="Sample Photo" width="250" height="250" />

                </div>
                <span><b>Data da publicação: @item.Data.Day/@item.Data.Month/@item.Data.Year</b></span>

            </div>

            <td>
                @Html.ActionLink("Editar", "EditarPostagem", new { id = item.PostId }) |
                @Html.ActionLink("Deletar", "DeletarPostagens", new { id = item.PostId })
            </td>

        }
    </div>
}

@*</table>*@
